<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-card class="example-card" style="padding:0px;">
    <mat-progress-bar mode="indeterminate" *ngIf="disabled"></mat-progress-bar>
    <div style="margin:15px;">
      <br />
      <mat-card-header>
        <mat-card-title>Add Product</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="padding:15px">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="SKU" formControlName="sku">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Product Name" formControlName="productName">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Supplier" formControlName="supplier">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions style="padding:15px">
        <button mat-raised-button color="primary" [disabled]="disabled">Save Product</button>
        <button mat-raised-button color="accent" routerLink="/product-list" [disabled]="disabled">Go Back</button>
      </mat-card-actions>
    </div>
  </mat-card>
</form>
